<div class="d-flex" id="wrapper">
    <!-- Sidebar-->
    <div class="border-end bg-white" id="sidebar-wrapper">
        <div class="sidebar-heading border-bottom bg-light fw-bold"><a href="/hod"
                style="text-decoration: none;">ADMIN</a></div>
        <div class="list-group list-group-flush">
            {{!-- <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">Dashboard</a>
            --}}
            {{!--
            <li class="list-group-item list-group-item-action list-group-item-light p-3 nav-item dropdown">
                <a class=" nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button"
                    data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Student</a>
                <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/hod/add-student">Add student</a>
                    <a class="dropdown-item" href="/hod/view-student">View student</a>
                </div>
            </li> --}}

            <li class="list-group-item list-group-item-action list-group-item-light p-3 nav-item dropdown">
                <a class=" nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button"
                    data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Teacher</a>
                <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/hod/approve-teacher">approve teacher</a>
                    <a class="dropdown-item" href="/hod/view-teachers">View teacher</a>
                </div>
            </li>
             {{!-- <li class="list-group-item list-group-item-action list-group-item-light p-3 nav-item ">
                <a class=" nav-link " href="/hod/approve-teacher">Teacher</a>

            </li> --}}
            <li class="list-group-item list-group-item-action list-group-item-light p-3 nav-item dropdown">
                <a class=" nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button"
                    data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Student</a>
                <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/hod/approve-students">Approve student</a>
                    <a class="dropdown-item" href="/hod/view-students">View student</a>
                </div>
            </li>

            <li class="list-group-item list-group-item-action list-group-item-light p-3 nav-item dropdown">
                <a class=" nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button"
                    data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Timetable</a>
                <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/hod/add-timetable">Add Timetable</a>
                    <a class="dropdown-item" href="/hod/view-timetable">View Timetable</a>
                </div>
            </li>
            <li class="list-group-item list-group-item-action list-group-item-light p-3 nav-item dropdown">
                <a class=" nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button"
                    data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Event</a>
                <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/hod/add-event">Add Event</a>
                    <a class="dropdown-item" href="/hod/view-event">View Event</a>
                </div>
            </li>
            <li class="list-group-item list-group-item-action list-group-item-light p-3 nav-item ">
                <a class=" nav-link " href="/hod/view-mark">Mark</a>

            </li>
            {{!-- <li class="list-group-item list-group-item-action list-group-item-light p-3 nav-item ">
                <a class=" nav-link " href="/hod/add-notice">Notice bord</a>

            </li>
            --}}

            <li class="list-group-item p-4">
                <a class=" text-center rounded btn btn-secondary px-3"
                    style="font-size: 18px; padding: 6px; color:white; display: block;" href="/hod/logout">Logout</a>
            </li>




        </div>
    </div>
    <!-- Page content wrapper-->

    <div id="page-content-wrapper">
        <!-- Top navigation-->
        <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
            <div class="container-fluid">
                <button class="btn btn-light" id="sidebarToggle"> <span class="navbar-toggler-icon"></span></button>

            </div>
        </nav>
        