
   
   <div class="d-flex" id="wrapper">
            <!-- Sidebar-->
            <div class="border-end bg-white" id="sidebar-wrapper">
                <div class="sidebar-heading border-bottom bg-light">Admin</div>
                <div class="list-group list-group-flush">
                    {{!-- <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">Dashboard</a> --}}
                       
                                <li class="list-group-item list-group-item-action list-group-item-light p-3 nav-item dropdown">
                                    <a class=" nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Student</a>
                                    <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                                        <a class="dropdown-item" href="#!">Add student</a>
                                         <a class="dropdown-item" href="#!">View student</a>
                                    </div>
                                </li>
                                <li class="list-group-item list-group-item-action list-group-item-light p-3 nav-item dropdown">
                                    <a class=" nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Teacher</a>
                                    <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                                        <a class="dropdown-item" href="#!">Add teacher</a>
                                         <a class="dropdown-item" href="#!">View teacher</a>
                                    </div>
                                </li>
                                <li class="list-group-item list-group-item-action list-group-item-light p-3 nav-item dropdown">
                                    <a class=" nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Course</a>
                                    <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                                        <a class="dropdown-item" href="#!">Add Course</a>
                                         <a class="dropdown-item" href="#!">View Course</a>
                                    </div>
                                </li>
                                 <li class="list-group-item list-group-item-action list-group-item-light p-3 nav-item dropdown">
                                    <a class=" nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Event</a>
                                    <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                                        <a class="dropdown-item" href="#!">Add Event</a>
                                         <a class="dropdown-item" href="#!">View Event</a>
                                    </div>
                                </li>
                                 <li class="list-group-item list-group-item-action list-group-item-light p-3 nav-item dropdown mt-5">
                                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Account</a>
                                    <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              
                                         <a class="dropdown-item" href="#!">Logout</a>
                                    </div>
                                </li>
                   
                </div>
            </div>
            <!-- Page content wrapper-->
          
            <div id="page-content-wrapper">
                <!-- Top navigation-->
                <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
                    <div class="container-fluid">
                        <button class="btn btn-light" id="sidebarToggle"> <span class="navbar-toggler-icon"></span></button>
                        {{!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
                                <li class="nav-item active"><a class="nav-link" href="#!">Home</a></li>
                               
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Account</a>
                                    <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                                        <a class="dropdown-item" href="#!">Login</a>
                                         <a class="dropdown-item" href="#!">Logout</a>
                                    </div>
                                </li>
                            </ul>
                        </div> --}}
                    </div>
                </nav> 
              
              
                             
