 
 <section>
<div class="row">

    <div class="col-xl-12 col-md-12 p-4">
    
    <h1 class="h2 mb-4">Dashboard Overview</h1>

    <!-- Dashboard Cards -->
    <div class="row ">
      <div class="col-md-4">
        <div class="card bg-primary text-light mb-4">
          <div class="card-body">
            <h5>Total Students</h5>
            <p class="display-6">300</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card bg-success text-light mb-4">
          <div class="card-body">
            <h5>Total Faculty</h5>
            <p class="display-6">10</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card bg-warning text-dark mb-4">
          <div class="card-body">
            <h5>Total Courses</h5>
            <p class="display-6">06</p>
          </div>
        </div>
      </div>
    </div>

    <!-- Recent Registrations Table -->
    <div class="card">
      <div class="card-header bg-secondary text-light">Approved student list</div>
      <div class="card-body">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>#</th>
              <th>Name</th>
              <th>Course</th>
              <th>Year</th>
            </tr>
          </thead>
          <tbody>
             {{#each students}}
                <tr>
                  <td></td>
                    <td>{{Name}}</td>
                    <td scope="col">{{Course}}</td>
                    <td scope="col">{{Year}}</td>
                {{/each}}
          </tbody>
        </table>
      </div>
    </div>
  
  </div>
    
</div>
  </section>
 