
  <section class="container mt-5">
    <h2 class="text-center mb-4">Add Teachers</h2>

    <!-- Table for Managing Teachers -->
    <div class="table-responsive">
      <table class="table table-bordered">
        <thead class="thead-dark">
          <tr>
        
            <th>Full Name</th>
           
            <th>Email</th>
            <th>Phone Number</th>
            <th>Gender</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          {{#each teachers}}
       
          <tr>
            </th> <!-- Loop Index -->
            <td>{{name}}</td>              <!-- Full Name -->
              <td>{{email}}</td>             <!-- Email -->
            <td>{{phone}}</td> 
            <td>{{gender}}</td>            <!-- Phone -->
            <td>
              <div class="d-flex action-buttons">
                <a href="/manage-teacher" class=" m-1 btn btn-success">Manage</a>
              
              </div>
          </td>
              </tr> 
          
              {{/each}}
        
        </tbody>
      </table>
    </div>

   
  </section>
