

        <!-- Main content area -->
        <div class="container-fluid px-4 text-center">
            <h1 class="mt-4 ">Welcome, {{name}}!</h1>
            <p>This is your dashboard. Use the sidebar to navigate.</p>
        </div>
    </div>
</div>